@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F4F7FB;
  color: #202541;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  font-family: 'IBM Plex Sans';
  font-size: 17px;
  font-family: 'Roboto', cursive;
}